body {
    font-size: 16px;
    padding: 20px;
    font-family: Roboto;
    color: black;
  }
  
  #logo {
    display: flex;
    float: left;
    width: 5%;
    max-width: 5%;
    margin-left: -5px;
    border-radius: 10%;
  }
  
  h1 {
    text-align: center;
    font-size: 25px;
  }
  
  h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25px;
    color: rgb(0, 210, 80);
  }
  
  hr {
    height: 1px;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    margin-bottom: 20px;
  }
  
  .mainPage {
    width: 90%;
    height: 90%;
    background-color: #f8f9fa;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
  }
  
  .result {
    width: 375px;
    height: 400px;
    background-color: white;
    color: black;
    margin-top: 60px;
    margin-bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5%;
    box-shadow:
      0 0 8px rgba(0, 0, 0, 0.1), 
      0 0 8px rgba(0, 0, 0, 0.1), 
      0 0 8px rgba(0, 0, 0, 0.1), 
      0 0 8px rgba(0, 0, 0, 0.1); 
  }
  
  .item p {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .lst {
    text-align: left;
    width: 60%;
  }
  
  .rs {
    text-align: right;
    width: 25%;
  }
  
  #checkButton {
    display: block;
    width: 100%;
    margin: 0.5em auto;
    height: 2em;
    background-color: #f8f9fa;
    color: black;
    border: none;
    min-width: 225px;
    font-size: 15px;
    font-family: Roboto;
    cursor: pointer;
  }
  
  #returnButton {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    width: 120px;
    height: 50px;
    border: none;
    background: white;
    color: black;
    font-family: Roboto;
    font-size: 18px;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    border-radius: 5%;
  }
  
  #time-pic, #question-pic, #correct-pic, #incorrect-pic {
    display: flex;
    margin-top: 13px;
    margin-right: 10px; 
    float: left;
  }
  
  @media (max-width: 600px) {
    .result {
      width: 250px;
      height: 375px;
      margin-bottom: 205px;
    }
    body {
      font-size: 15px;
    }
    #returnButton {
      font-size: 14px;
    }
    #checkButton {
      font-size: 13px;
    }
    h1 {
      font-size: 23.5px;
    }
    h2 {
      font-size: 28px;
    }
  }